/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

:root {
  margin: 0% 0%;
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.bodyHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 84vh;
  width: 100%;
}
.bodyRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 84vh;
  width: 100%;
  background: rgb(6, 14, 41);
  background: linear-gradient(
    90deg,
    rgba(6, 14, 41, 1) 0%,
    rgba(18, 23, 46, 1) 13%,
    rgba(71, 79, 120, 1) 100%
  );
}
.container {
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.title {
  font-family: "Roboto", sans-serif;
  color: black;
}
img {
  margin-top: -2%;
  max-height: 25%;
}
.form {
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 2%;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: black;
}

.button {
  width: 25vw;
  background: "linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)";
  border-radius: 3;
  border: 0;
  color: "white";
  height: 48;
  padding: "0 30px";
  box-shadow: "0 3px 5px 2px rgba(255, 105, 135, .3)";
}
.list {
  background-color: white;
  border-radius: 2%;
  width: 20%;
  font-family: "Roboto", sans-serif;
  color: black;
}
